body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.panel {
    max-width: 450px;
    margin: 0 auto;
}

form {
    padding: 15px;
}

form h2 {
    margin-bottom: 20px;
}
